<section>

    <div class="filter">

        <div class="filterInfo">
            <div class="upperFilterSide">
                <div class="filterItem age">
                    <h5>Godine:</h5>
                    <select name="" id="">
                        <option value="">Sve</option>
                        <option value="">18-25</option>
                        <option value="">26-35</option>
                        <option value="">36-45</option>
                        <option value="">46-55</option>
                        <option value="">56-65</option>
                        <option value="">65+</option>
                    </select>
                </div>

                <div class="filterItem gender">
                    <h5>Spol:</h5>
                    <select name="" id="">
                        <option value="">Sve</option>
                        <option value="">Musko</option>
                        <option value="">Zensko</option>
                    </select>
                </div>

                <div class="filterItem nationality">
                    <h5>Iz:</h5>
                    <select name="" id="">
                        <option value="">Sve</option>
                        <option value="">Bosna i Hercegovina</option>
                        <option value="">Srbija</option>
                        <option value="">Hrvatska</option>
                        <option value="">Crna Gora</option>
                        <option value="">Makedonija</option>
                        <option value="">Slovenija</option>
                    </select>
                </div>
                <div class="filterItem Country">
                    <h5>Drzava:</h5>
                    <select name="" id="">
                        <option value="">Sve</option>
                        <option value="">Njemacka</option>
                        <option value="">Austrija</option>
                        <option value="">Francuska</option>
                        
                    </select>
                </div>
                <div class="filterItem City">
                    <h5>U gradu:</h5>
                    <select name="" id="">
                        <option value="">Sve</option>
                        <option value="">Berlin</option>
                        <option value="">Bec</option>
                        <option value="">Pariz</option>
                        
                    </select>
                </div>
            </div>
            <div class="btn">
                <button class="traziBtn">Trazi</button>
            </div>
        </div>

        <div class="people">

            <app-person></app-person>
            <app-person></app-person>
            <app-person></app-person>
            <app-person></app-person>
            <app-person></app-person>
            <app-person></app-person>
           

        </div>
        
    </div>

</section>