<section>
    <div class="container">
        <div class="personItem imagePart">
            <img src="" alt="">
        </div>
        <div class="personItem  infoPart">
            <h5>Ime Prezime</h5>
            <p>Iz: BiH</p>
            <p>Zivi u: Njemcka, Berlin</p>
        </div>
        <div class="personItem  contactPart">
            <ul class="links">
                <li><a href="" style="color: palevioletred;">Instagram</a></li>
                <li><a href="" style="color: rgb(35, 120, 248);">Facebook</a></li>
                <li><a href="" style="color: rgb(42, 201, 2);">Whats App</a></li>
                <li><a href="" style="color: rgb(145, 17, 145);">Viber</a></li>
                <li><a href="" style="color: rgb(180, 180, 0);">Snap chat</a></li>
            </ul>
        </div>
</div>
</section>
