<section>

    <div class="container">
        <div class="Info">
            <div class="emailInfo">
                <input type="email" placeholder="E-mail">
            </div>
            <div class="problemInfo">
               <textarea name="" id="" cols="30" rows="10" placeholder="Detaljan opis problema"></textarea>
            </div>
            <div class="problemBtn">
               <button type="submit" class="pFormBtn">Posalji</button>
            </div>
        </div>
    </div>

</section>